

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;


}
::-webkit-scrollbar {
    width: 10px; /* Width of the scroll bar */
    /* Height of the scroll bar for horizontal scrolling */
    /* color: #121212; */
    background-color: #020f1f;
    margin-top: 3em;
}
::-webkit-scrollbar-thumb {
  background: #686262; /* Medium gray color */
  border-radius: 10px; /* Rounded edges */
}

body{
  position: relative;
  
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  /* background-color: #10e09033; */
  background-color: #b47722;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23c51502' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23a30c03' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23be2004' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%239c1406' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23b72807' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23951a09' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b12d0a' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%238f1e0c' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa320e' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%2388210f' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");

  /* background-image: url('/project_img/bg2.jpg'); */
  background-attachment: fixed;
  
background-size: cover; 
background-position: top ;
  color: #fff !important;
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}

.appDiv{
  padding: 0 1em;
}

/* Navbar */
.divnav{
  /* background-color: #b47722; */
  z-index: 601;
  border-bottom: 1px solid rgba(255, 253, 251,0.2);
}
nav{
  position: sticky;
   font-family:Verdana, Geneva, Tahoma, sans-serif !important;
   z-index: 600;
}

@media screen and (min-width:760px){
  .navbarr{
    background-color: #e2e2e2;
  }
}

/* end Navbar */


/* Bio */
.Bio{
  
  padding: 20px 0em 100px 0em;
  /* display: grid; */
  /* z-index: 30; */

}
.login{
  position: absolute;
  top: 80px;
  right: 0px;
}

.Bio .left .welcomeToMyPortfolio{
     /* font-size: 4em; */
     /* font-weight: 600; */
}


.Bio .left .moreInfo{
margin-top: 0.5em;
/* font-size: 1.4em; */
}
.Bio .left button,.mailright form button{
  /* padding: 1em 0; */
  /* margin-top: 1em; */
  font-size: 1.3em;
  background-color: white;

  color: black;
  padding: 0.4em 0.5em;
  font-weight: bold;
  transition: all ease-in-out 0.2s;
}
#downloadCv{
  font-weight: bold;

  background-color: tomato;
  /* display: inline-block; */
  color: white;
}
#downloadCv:hover{
  background-color: rgb(10, 126, 126);
  color: whitesmoke;
}
.Bio .left button:hover,.mailright form button:hover, .Comments form button:hover{
  color: white;
  background-color: rgb(10, 126, 126);
}
 .right{
  background-image: url("/project_img/about.png");
  background-position: center;
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.imgIconEdit0{
  width: 3em;
  color: white;
  transition: all ease-in-out 0.2s;
  /* background-color: rgb(10, 126, 126); */
}
.imgIconEdit{
  width: 4em;
  color: white;
  transition: all ease-in-out 0.2s;
}
.imgIconEdit:hover{
  color: #121212;
  /* border-bottom: 4px solid rgb(4, 117, 117); */

}

.savefile{
  font-size: 1.3em;
  background-color: rgb(240, 113, 75);
  color: white;
  /* padding: 0.4em 0.5em; */
  font-weight: bold;
  transition: all ease-in-out 0.2s;
}
.savefile:hover{
  color: white;
  background-color: rgb(4, 117, 117);
}

@media screen and (min-width:760px){
  .right div{
    border-radius: 8em 0 8em 0;
  }
}
.savefilelabel{
font-weight: 600;
font-size: 20px;

}
.savefilelabel::-webkit-file-upload-button{
  display: none;
  
}

.box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}


/* end Bio */
/* navbar */
.divdiv{
  display: flex;

}
.img_login_google{
  border-radius: 20%;
}
/* end navbar */

/* skills */



.Skills
{
  background-color: #e9f1f3;
  color: rgb(80, 79, 79) !important;
  margin-top: -6em;
  z-index: 300;
  
}
.skills_title,.Projects_title{
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  color: #021f24;
  
}
.allSkills{
  
margin-top:1em;
}
.allSkills h4{
font-size: 1.3em;
font-weight: 600;
text-align: center;
}
.allSkills:hover{
  background:  #1babcf;
  cursor:pointer;
}
/* end skills */

/* projects */
/* .Projects{
  padding: 3em 0;

  
} */
.divProjects{
  overflow: hidden;
}

.project_item{
  background-color: white;
  display: grid;
  gap: 1em;
  /* border-radius: 6px; */
  /* opacity: 0.8; */
  height: 450px;
  position: relative;
  overflow: hidden;
  padding: 16px;
  color: rgb(80, 79, 79) !important;
  transition: all ease-in-out 0.3s;
}

.project_itemOne{
 
  height: 450px;
  background-color: #e9f1f3;
  display: grid;
  gap: 1em;
  /* border-radius: 6px; */
  /* opacity: 0.8; */
  
  position: relative;
  overflow: hidden;
  padding: 16px;
  color: rgb(80, 79, 79) !important;
  transition: all ease-in-out 0.3s;
}
.btnsdivRelative{
  background-color: #121212;
  opacity: 0.7;
  transition: all ease-in-out 0.4s;
  /* display: none; */
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 0;
}
.technology{
  background-color: #1679eb;
  padding: 0 0.4em;
}
.btnsdivRelativeOne{
  /* opacity: 0.6; */
  transition: all ease-in-out 0.4s;
  display: none;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
/* .divlink{
  background-color: rgb(6, 94, 94);
} */
.imgProject{
  transition: all ease-in-out 0.3s;
}
.imgProject:hover{
transform: scale(1.2);
z-index: 0;
}

.AddProject input{
  background-color: rgb(10, 129, 138);
  outline: 1px solid rgb(16, 64, 110);
  padding: 4px ;
}
/* end Projects */

/* projects */


/* end projects */

/* contacts */
.Contacts{
  /* padding: 1em; */
}
.mailright form{
display: grid;
gap: 1em;
}

.mailright form input{
  background-color: rgb(109, 8, 55);
  padding: 0.4em 0.2em;
  font-size: 18px;
  outline: none;
  border: 2px solid transparent;
  transition: all ease-in-out 0.2s;

}
.mailright form input:focus{
border: 2px solid tomato;
}
.mailright form textarea{
  resize: none;
  height: 6em;
  background-color: rgb(104, 10, 54);
  padding: 0.4em 0.2em;
  font-size: 18px;
  outline: none;
  border: 2px solid transparent;
  transition: all ease-in-out 0.2s;
}
.mailright form textarea:focus{
  border: 2px solid tomato;

}

 .ConnectNow{
  padding: 0.3em 0.2em;
  outline: 1px solid whitesmoke;

 }
 .ConnectNow:hover{
  background-color: #0753aa;
  outline: 1px solid tomato;

 }
/* end contacts */

/* Comments */

.img-Comment{
width: 40px;
height: 40px;
border-radius: 50%;
}
.Comments_img_textarea textarea{
  resize: none;
  outline: none;
  padding: 0 1em;
  /* color: #121212; */
  font-size: 14px;
border: 1px solid rgb(142, 211, 184);
border-radius: 30px;
  height: fit-content;
}
/* .Comments_img_textarea textarea:focus{
  border: 3px solid #1babcf;
transition: all ease-in-out 0.2s;
} */

/* end comments */

/* footer */

.footer div p{
  width: fit-content;
}
.footer div{
  display: grid;
  justify-content: center;
}

.contactme h3{
  border-bottom: 2px solid gray;
  font-size: 1.4em;
  margin-bottom: 1em;
}
/* end footer */

/* icon  */
.iconprogra{
  width: 4em;
}
/* 
.spanimg:hover ~ .spanimg p{
  display: block;
} */

.spanimg p{
  color: rgb(129, 126, 126);
  font-weight: 400;
}
/* end icon */

/* b */


/* animation transition */
.fade-enter {
  opacity: 0;
  /* top: 0; */
}
.fade-enter-active {
  opacity: 1;
  transition: opacity ease-in-out 400ms;
  
}
.fade-exit {
  opacity: 1;
  
}
.fade-exit-active {
  opacity: 0;
  transition: opacity ease-in-out 400ms;


}


/*  */