

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;


}
::-webkit-scrollbar {
    width: 10px; /* Width of the scroll bar */
    /* Height of the scroll bar for horizontal scrolling */
    /* color: #121212; */
    background-color: #020f1f;
    margin-top: 3em;
}
::-webkit-scrollbar-thumb {
  background: #686262; /* Medium gray color */
  border-radius: 10px; /* Rounded edges */
}

body{
  position: relative;
  
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  /* background: linear-gradient(to bottom, rgba(1, 236, 1, 0.548), rgba(255, 123, 0, 0.87)),
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E"); */

  background-color: #147895;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2338D7DD'/%3E%3Cstop offset='1' stop-color='%23147895'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23192318' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23192318' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  background-position: top left;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  /* background-position: top left; */
background-attachment: fixed;
background-size: cover;
/* background-color: rgb(13, 27, 27); */
/* background: linear-gradient(to left top,tomato,tomato,cyan) ; */
/* background-image: ; */
background-size: cover; 
background-position: top ;
background-repeat: no-repeat;
background-attachment: fixed;
  /* background-color: rgb(25, 146, 177) !important; */
  color: #fff !important;
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}


.appDiv{
  padding: 0 1em;
}

/* Navbar */
nav{
  position: sticky;
   font-family:Verdana, Geneva, Tahoma, sans-serif !important;
   z-index: 60;
}
/* end Navbar */


/* Bio */
.Bio{

  padding: 100px 0em 200px 0em;
  /* display: grid; */
  z-index: 30;

}
.login{
  position: absolute;
  top: 80px;
  right: 0px;
}

.Bio .left .welcomeToMyPortfolio{
     /* font-size: 4em; */
     /* font-weight: 600; */
}


.Bio .left .moreInfo{
margin-top: 0.5em;
/* font-size: 1.4em; */
}
.Bio .left button,.mailright form button, .Comments form button{
  /* padding: 1em 0; */
  /* margin-top: 1em; */
  font-size: 1.3em;
  background-color: white;

  color: black;
  padding: 0.4em 0.5em;
  font-weight: bold;
  transition: all ease-in-out 0.2s;
}
#downloadCv{
  font-weight: bold;

  background-color: tomato;
  /* display: inline-block; */
  color: white;
}
#downloadCv:hover{
  background-color: rgb(10, 126, 126);
  color: whitesmoke;
}
.Bio .left button:hover,.mailright form button:hover, .Comments form button:hover{
  color: white;
  background-color: rgb(10, 126, 126);
}
 .right{
  background-image: url("/icon/language_progra/");
 }
.imgIconEdit0{
  width: 3em;
  color: white;
  transition: all ease-in-out 0.2s;
  /* background-color: rgb(10, 126, 126); */
}
.imgIconEdit{
  width: 1.5em;
  color: white;
  transition: all ease-in-out 0.2s;
}
.imgIconEdit:hover{
  color: #121212;
  border-bottom: 4px solid rgb(4, 117, 117);

}

.savefile{
  font-size: 1.3em;
  background-color: white;
  color: black;
  padding: 0.4em 0.5em;
  font-weight: bold;
  transition: all ease-in-out 0.2s;
}
.savefile:hover{
  color: white;
  background-color: rgb(4, 117, 117);
}
.savefilelabel{
font-weight: 600;
font-size: 20px;

}
.savefilelabel::-webkit-file-upload-button{
  display: none;
  
}

.box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}


/* end Bio */
/* navbar */
.divdiv{
  display: flex;

}
.img_login_google{
  border-radius: 20%;
}
/* end navbar */

/* skills */



.Skills
{
  background-color: #e9f1f3;
  color: rgb(80, 79, 79) !important;
  margin-top: -6em;
  z-index: 30;
  
}
.skills_title,.Projects_title{
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  color: #312f2f;
  
}
.allSkills{
  
margin-top:1em;
}
.allSkills h4{
font-size: 1.3em;
font-weight: 600;
text-align: center;
}
.allSkills:hover{
  background:  #1babcf;
  cursor:pointer;
}
/* end skills */

/* projects */
/* .Projects{
  padding: 3em 0;

  
} */
.divProjects{
  overflow: hidden;
}

.project_item{
  background-color: #cedee2;
  display: grid;
  gap: 1em;
  border-radius: 6px;
  /* opacity: 0.8; */
  position: relative;
  overflow: hidden;
  padding: 16px;
  color: rgb(80, 79, 79) !important;
  transition: all ease-in-out 0.3s;
}

.project_itemOne{
 

  background-color: #e9f1f3;

  display: grid;
  gap: 1em;
  border-radius: 6px;
  /* opacity: 0.8; */
  position: relative;
  overflow: hidden;
  padding: 16px;
  color: rgb(80, 79, 79) !important;
  transition: all ease-in-out 0.3s;
}
.btnsdivRelative{
  background-color: #121212;
  opacity: 0.7;
  transition: all ease-in-out 0.4s;
  /* display: none; */
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 0;
}
.btnsdivRelativeOne{
  /* opacity: 0.6; */
  transition: all ease-in-out 0.4s;
  display: none;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
/* .divlink{
  background-color: rgb(6, 94, 94);
} */
.imgProject{
  transition: all ease-in-out 0.3s;
}
.imgProject:hover{
transform: scale(1.2);
z-index: 0;
}

.AddProject input{
  background-color: rgb(10, 129, 138);
  outline: 1px solid rgb(16, 64, 110);
  padding: 4px ;
}
/* end Projects */

/* projects */


/* end projects */

/* contacts */
.Contacts{
  /* padding: 1em; */
}
.mailright form{
display: grid;
gap: 1em;
}

.mailright form input{
  background-color: rgb(109, 8, 55);
  padding: 0.4em 0.2em;
  font-size: 18px;
  outline: none;
  border: 2px solid transparent;
  transition: all ease-in-out 0.2s;

}
.mailright form input:focus{
border: 2px solid tomato;
}
.mailright form textarea{
  resize: none;
  height: 6em;
  background-color: rgb(104, 10, 54);
  padding: 0.4em 0.2em;
  font-size: 18px;
  outline: none;
  border: 2px solid transparent;
  transition: all ease-in-out 0.2s;
}
.mailright form textarea:focus{
  border: 2px solid tomato;

}

 .ConnectNow{
  padding: 0.3em 0.2em;
  outline: 1px solid whitesmoke;

 }
 .ConnectNow:hover{
  background-color: #0753aa;
  outline: 1px solid tomato;

 }
/* end contacts */

/* Comments */

.img-Comment{
width: 50px;
height: 50px;
border-radius: 50%;
}
.Comments_img_textarea textarea{
  resize: none;
  outline: none;
  padding: 0 1em;
  color: #121212;
  font-size: 20px;
border: 3px solid tomato;
border-radius: 20px;
  height: 6em;
}
.Comments_img_textarea textarea:focus{
  border: 3px solid #1babcf;
transition: all ease-in-out 0.2s;
}

/* end comments */

/* footer */

.footer div p{
  width: fit-content;
}
.footer div{
  display: grid;
  justify-content: center;
}

.contactme h3{
  border-bottom: 2px solid gray;
  font-size: 1.4em;
  margin-bottom: 1em;
}
/* end footer */

/* icon  */
.iconprogra{
  width: 4em;
}
/* 
.spanimg:hover ~ .spanimg p{
  display: block;
} */

.spanimg p{
  color: rgb(129, 126, 126);
  font-weight: 400;
}
/* end icon */

/* b */


/* animation transition */
.fade-enter {
  opacity: 0;
  /* top: 0; */
}
.fade-enter-active {
  opacity: 1;
  transition: opacity ease-in-out 400ms;
  
}
.fade-exit {
  opacity: 1;
  
}
.fade-exit-active {
  opacity: 0;
  transition: opacity ease-in-out 400ms;


}


/*  */